/* =========================================
    Default Theme
    ---------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        bink:         #ff3450
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
        blue:               rgba(40, 103, 222, 0.8)
============================================ */

html, body {
    height: 100%;
}

body {
    color: #212226;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

strong {
    font-weight: 700;
}

section {
    background: #fff;
    overflow: hidden;
}

/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

/* =========================================
            Introduction Styles
============================================ */

.introduction-content {
    text-align: center;
    width: 66%;
    margin: auto;
}

.introduction-content h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 500;
    color: #333333;
}

.introduction-content h1 span {
    font-weight: 700;
}

.introduction-content p {
    font-size: 18px;
    line-height: 30px;
    color: #7f7f7f;
}

/* =========================================
                Couse Styles
============================================ */

.cause-section {
    background-color: #f3f3f3;
    padding-top: 80px;
}

.cause-container {
    width: 1170px;
    margin: auto;
}

.cause-header {
    font-size: 34px;
    color: #333333;
    text-align: center;
    margin: 0 auto 30px auto;
    padding-bottom: 50px;
    font-weight: 300;
    position: relative;
}

.cause-header::before {
    background-color: #ff3450;
    content: "";
    width: 200px;
    height: 5px;
    bottom: 22px;
    left: calc(50% - 100px);
    position: absolute;
}

.cause-header::after {
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
    bottom: 10px;
    border-radius: 50%;
    background-color: #ff3450;
    color: #ffffff;
    line-height: 14px;
    content: "";
    font-family: "FontAwesome";
    font-size: 14px;
    position: absolute;
    line-height: 30px;
}

/* =========================================
                     Cards
============================================ */

.card-group {
    display: flex;
}

.card {
    width: 33.3333%;
    margin: 0 15px;
    position: relative;
    color: #7f7f7f;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.card a {
    text-decoration: none;
    transition: color 0.5s;
}

.card-body a:link, a:visited {
    color: #7f7f7f;
}

.card-body a:hover {
    color: #FF3450;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 30px;
    overflow: hidden;
}

.card-title, .card-title {
    font-size: 24px;
    margin: 0 auto 10px auto;
}

.card-title a:link, .card-title a:visited {
    color: #333333;
}

.card-title a:hover {
    color: #FF3450;
}

.cause-card-content {
    float: left;
    margin-right: 25px;
    position: relative;
}

.cause-card-content div {
    margin-bottom: 10px;
    font-weight: 700;
}

.cause-card-graph {
    width: 30px;
    float: left;
    position: absolute;
    right: 30px;
    text-align: center;
    color: #ff3450;
}

.cause-graph-outline {
    background-color: rgba(255, 52, 80, 0.2);
    height: 150px;
    width: 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.cause-graph-fill {
    background: #ff3450;
    border-radius: 5px;
    height: 56%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.cause-card-content button {
    margin-top: 35px;
}

/* =========================================
                    Buttons
============================================ */

.btn-general {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 15px;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.5s;
    letter-spacing: 0.1;
}

.btn-blue {
    background: #2867de;
}

.btn-blue:hover {
    background: #FF3450;
}

/*Gallery*/

.galleryContainer {
    min-height: 680px;
    padding: 80px 0;
    background: #ffffff
}

.gallery {
    height: 380px
}

.gallery .galleryItem img {
    height: 380px
}