/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        bink:         #ff3450
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
        blue:               rgba(40, 103, 222, 0.8)
============================================ */