/* =========================================
    Default Theme
    ---------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        bink:         #ff3450
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
        blue:               rgba(40, 103, 222, 0.8)
============================================ */

html, body {
    height: 100%;
}

body {
    color: #212226;
    margin:0; padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

strong {
    font-weight: 700;
}

section {
    background: #fff;
    overflow: hidden;
}

/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}


/* =========================================
                     Cards
============================================ */

.card-group {
    display: flex;
}

.card {
    width: 33%;
    margin: 0 1.5% ;
}

.card-img img{
    width: 100%;
    height: auto;
}

.card-body{
    padding: 30px;
    color:#7f7f7f;
}

.card-body h3{
    font-size: 24px;
    color: #333333;
    margin: 0;
}


/*Gallery*/
.galleryContainer{min-height: 680px; padding: 80px 0; background: #ffffff}
.gallery{height: 380px}
.gallery .galleryItem img{height: 380px}